//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	z-index: 18;
	
	height: 100%;
	

}
.menu {
	&-bg{
	background-color: #F6F6F6;
	padding-top: 35px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);

	}
	// .menu__top

	&__top {
	}

	// .menu__top-list

	&__top-list {
	
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.list {

}

.logo {
	display: flex;
	
	p{
		margin-left: 45px;
		max-width: 193px;
		font-size: 14px;
		display: flex;
		align-items: center;
		line-height: 16px;
		position: relative;
		&:after{
			content: "";
			position: absolute;
		width: 2px;
		height: 100%;
		transition: all 0.8s ease 0s;
		top: 4;
		left: -25px;

		background: #D8D8D8;
		border: 1px solid #89AFEF;
		box-sizing: border-box;
		transform: matrix(-1, 0, 0, 1, 0, 0);
		}
	}
}
.icon {
	display: flex;
	
.icon__btn{
	position: relative;
width: 43px;
height: 43px;
	border-radius: 50%;
	margin-right: 18px;
	display: block;
	&:last-child{
		margin-right: 0;
	}
	
	
}
.icon__vib{
	background-color: #2DD038;
}
.icon__wats{
	background-color: #7B519D;
}
.icon__telega{
background-color: #5BBAF0;
img{
	position: absolute;
	left: 12px;
	right: 15px;
	top: 15px;
}
}
img{
	position: absolute;
	left: 12px;
	top: 12px;

	
}

}
.contact {
}
.contact-menu {
	display: flex;
	align-items: center;
	// .contact-menu__tel

	&__tel {
		margin-right: 26px;
		max-width: 169px;
		p{
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 16px;
				height: 16px;
				background-image: url(../img/icon/phone.png);
				top: 4px;
				left: -20px;
			}
		}
		span{
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			padding-left: 28px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 16px;
				height: 14px;
				background-image: url(../img/icon/sms.png);
				top: 2px;
				left: 0;
			}
		}
	}

	// .contact-menu__btn

	&__btn {
		
	
		a{
			color: #fff;
			padding: 12px 27px;
			background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
			box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
			border-radius: 3px;
		}
	}
}
.menu {

	// .menu__nav

	&__nav {
		padding-top: 26px;
	}

	// .menu__nav-list

	&__nav-list {
		display: flex;
		justify-content: space-between;
		
		li{
			
			
		a{
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
		
			text-transform: uppercase;
			

			color: #333333;
		}
				
		}
	}
}






//====================================================================================================

.icon-menu {

	display: none;
	@media (max-width: 992px) {
		
		display: block;
		position: absolute;
		top: 4px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
		
			span {
				background-color: #fff;
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

	@media (max-width:992px){
		.main-screen-global-content__title{
			font-size: calc(40px + (20-20)*((100vw - 920px) / (970 - 320)));
			// padding-left: calc(20px + (40-20)*((100vw - 320px) / (1200 - 320)));
		}
		.menu__nav{
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			background-color:#000;
			padding: 150px 0px 20px 0px;
			overflow: auto;
			z-index: 1;
			padding: 69px 0 20px 0;
			
			@include tr(0px,-100%,0px);
			@include anim(0.3s,0s);

			
		
			&._active{
				@include tr(0px,0,0px);
			
				
			}
	
			
		
		.menu__nav-list {
			flex-direction: column;
			justify-content:center;
			align-items: center;
		
			a{
				color: #fff;
				display: block;
				width: 100%;
				
				align-items: center;
				padding: 25px 0 25px 0;
			
				text-align: center;
				&:hover{
					color: #fff;
				
					background-color: #84AAED;
				}
			}
			li{
				width: 100%;
					text-align: center;
			
				
				
			
				&:after{
					width: 4px;
					height: 4px;
					background-color: #fff;
					right: 50%;
					top:40px;
					margin: 0px -2px 0px 0px;
				}
			}
		}
		
	
}
.contact-menu__btn{
	display: none;
}
.logo{
	display: block;

	p{
		padding-top: 20px;
		margin-left: 0;
		&:after{
			transition: all 0.8s ease 0s;
			transform: rotate(-90deg);
			
			left: 40%;
			top: -20px;
		}
	}
}

	}
	@media (max-width:685px){
		.main-screen__global-img {
			display: none;
			
		
	}
	.main-screen-global-content__title{
		display: block;
	}
	.main-screen-global-content{
		grid-template: 1fr / minmax(300px, 100%) minmax(auto, 1fr) ;
		text-align: center;
	
	}
	.icon{
		display: none;
	}
	
}